# Dependencies
node_modules/

# Build output
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# Editor settings
.vscode/
.idea/
.history/

# OS files
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
*.swp
